
@font-face {
    font-family: 'Quiglet';
    src: url("./fonts/quiglet\ free.otf");
}

body{
    padding: 0px;
    margin: 0px;

    header{
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #D2B8B8;
        background: radial-gradient(ellipse, rgba(217, 217, 217, 1) 0%, rgba(210,184,184,1) 100%);
        
        .logo{
            font-family: "Quiglet";
            display: flex;
            align-items: center;
            h1{
                .red{
                    color: red;
                }
                
                .green{
                    color: green;
                }

                .blue{
                    color:blue;
                }
            }
        }

        .search-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 80px;

            
            .search-input{
                padding: 3px 0px;
                margin-left: 10px;
                height: 40px;
                background-color: whitesmoke;
                border-radius: 30px;
                padding: 5px 20px;
                border: none;
            }

            .search-input:focus{
                border: none;
            }

            .search-label{
                border: none;

                .icon-search{
                    display: flex;
                    align-self: center;
                }
            }


        }

        .account{
            margin-right: 80px;
            display: flex;
            align-items: center;
        }
    }

    
}