
@font-face {
    font-family: 'Quiglet';
    src: url("./fonts/quiglet\ free.otf");
}

body{
    padding: 0;
    margin: 0;

    header{
        .logo{

        }

        .search-container{

        }

        .account{
            
        }
    }

    footer{

    }
}