main{
    min-height: 60vh;
    width: auto;
    h2{
        font-family: 'Quiglet';
        font-size: xx-large;
        font-weight: normal;
        text-align: center;
        margin-top: 5%;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }

    a{
        background-color: rgba(210, 184, 184);
        border: solid black 3px;
        border-radius: 5px;
        font-size: 32px;
        font-family: 'Roboto';
        font-weight: 500;
        width: 510px;
        height: 77px;
        box-shadow: 4px 4px 4px rgb(0, 0, 0, 40%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}