main{
 height: 70vh;  
 padding: 60px 0px; 
}
#containerInscription{
    background-color: #D2B8B8;
    border-radius: 10px;
    max-width: 60%;
    text-align: center;
    margin:  auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
h3{
    text-align: center;
    padding-top: 50px;
}
form{
    margin: 5% 20%;
    display: flex;
    flex-direction: column;
}
input{
    margin: 2%;
    border: black 2px solid;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: larger;
    
}
#inscriptionButton{
    border-radius: 5px;
    margin-top: 15%;
    margin-bottom: 5%;
    border: black 2px solid;
    padding: 5px;
    font-size: large;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 40%)
}