#index{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;

    h2{
        text-align: center;
    }

    .categorie{
        width: 100px;
        padding: 5px, 10px;
        border-radius: 10px;
        border: solid black 3px;
    }

    .quizzList{
        margin: 50px;
        padding: 20px 0px;
        
        .quizz{
            width: auto;
            height: auto;
            margin: 20px 0px;
            padding: 5px 5px;
            background-color: #D2B8B8;;
            color: black;
            border: solid 4px black;
            border-radius: 10px;
            font-family: 'Roboto';
            list-style: none;
            display: flex;
            align-content: center;
            img{
                width: 120px;
                height: 120px;
                border-radius: 10px;
                float: left;
            }

            a{
                color: black;
                text-decoration: none;
            }

            h2{
                text-align: left;
                margin-left: 130px;
                
            }

            p{
                margin-left: 130px;
            }
        }

        .quizz:hover{
            transform: scale(1.05);
        }
    }
}